body {
    background: url("../img/background.jpg");
    background-size: cover;

}

.container{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

}


.eaten{
    margin-right: 100px;
}

#burgerName{
    margin-left: 420px;
}